.header {
  margin-bottom: 30px;
}

.header h1 {
  margin: 0;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: bold;
}

.header h1 span {
  color: #ff6a00;
}

.header-line {
  width: 55px;
  height: 4px;

  margin-top: 10px;

  background: #ff6a00;
  border-radius: 10px;
}
